In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#Load the dataset
df = pd.read_csv('final_book_dataset_kaggle2.csv')
df.head(20)

,title,author,price,price (including used books),pages,avg_reviews,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,6.75,500,4.4,23,55%,39%,6%,NaN,NaN,8.5 x 1.01 x 11 inches,2.53 pounds,English,"Notion Press Media Pvt Ltd (November 22, 2021)",978-1685549596,/Data-Analysis-Using-Low-Priced/dp/1685549594/...,https://www.amazon.com/Data-Analysis-Using-Low...
1,Head First Data Analysis: A learner's guide to...,NaN,33.72,21.49 - 33.72,484,4.3,124,61%,20%,9%,4%,6%,8 x 0.98 x 9.25 inches,1.96 pounds,English,"O'Reilly Media; 1st edition (August 18, 2009)",978-0596153939,/Head-First-Data-Analysis-statistics/dp/059615...,https://www.amazon.com/Head-First-Data-Analysi...
2,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,32.07,274,4.7,10,87%,13%,NaN,NaN,NaN,8.25 x 0.6 x 10.75 inches,1.4 pounds,English,"Holy Macro! Books; Third edition (August 1, 2022)",978-1615470747,/Guerrilla-Analysis-Using-Microsoft-Excel/dp/1...,https://www.amazon.com/Guerrilla-Analysis-Usin...
3,Python for Data Analysis: Data Wrangling with ...,[ William McKinney],53.99,53.99,547,4.6,"1,686",75%,16%,5%,2%,2%,7 x 1.11 x 9.19 inches,1.47 pounds,English,"O'Reilly Media; 2nd edition (November 14, 2017)",978-1491957660,/Python-Data-Analysis-Wrangling-IPython/dp/149...,https://www.amazon.com/Python-Data-Analysis-Wr...
4,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,24.49,368,3.9,12,52%,17%,10%,10%,10%,7.38 x 0.83 x 9.25 inches,1.3 pounds,English,"For Dummies; 5th edition (February 3, 2022)",978-1119844426,/Excel-Data-Analysis-Dummies-Computer/dp/11198...,https://www.amazon.com/Excel-Data-Analysis-Dum...
5,Everything Data Analytics: A Beginner's Guide ...,NaN,NaN,NaN,NaN,4.2,31,61%,16%,14%,4%,5%,NaN,NaN,NaN,NaN,NaN,/Everything-Data-Analytics-Beginners-Understan...,https://www.amazon.com/Everything-Data-Analyti...
6,SQL for Data Analysis: Advanced Techniques for...,[ Cathy Tanimura],40.49,40.49,360,4.6,72,75%,18%,2%,2%,2%,6.75 x 0.75 x 8.75 inches,1.2 pounds,English,"O'Reilly Media; 1st edition (October 5, 2021)",978-1492088783,/SQL-Data-Analysis-Techniques-Transforming/dp/...,https://www.amazon.com/SQL-Data-Analysis-Techn...
7,Qualitative Data Analysis: A Methods Sourcebook,"[ Matthew B. Miles, A. Michael Huberman, et al.]",90.00,90,408,4.7,205,84%,9%,4%,2%,NaN,8.5 x 0.92 x 11 inches,2.15 pounds,English,"SAGE Publications, Inc; 4th edition (January 2...",Research in Drama Education,/Qualitative-Data-Analysis-Methods-Sourcebook/...,https://www.amazon.com/Qualitative-Data-Analys...
8,Topological Data Analysis with Applications,"[ Gunnar Carlsson, and , Mikael Vejdemo-Johan...",54.19,53.98 - 54.19,230,5.0,5,100%,NaN,NaN,NaN,NaN,6.75 x 0.75 x 9.75 inches,1.28 pounds,English,Cambridge University Press; 1st edition (March...,978-1108838658,/Topological-Analysis-Applications-Gunnar-Carl...,https://www.amazon.com/Topological-Analysis-Ap...
9,"R in Action, Third Edition: Data analysis and ...",[ Robert I. Kabacoff],56.99,47.97 - 56.99,656,4.3,14,78%,11%,11%,NaN,NaN,7.38 x 1.5 x 9.25 inches,2.62 pounds,English,"Manning; 3rd edition (May 3, 2022)",978-1617296055,/Action-Third-Robert-I-Kabacoff/dp/1617296058/...,https://www.amazon.com/Action-Third-Robert-I-K...
10,Listening to People: A Practical Guide to Inte...,NaN,20.00,20,333,4.5,46,73%,13%,7%,3%,3%,6 x 0.9 x 9 inches,1.01 pounds,English,"University of Chicago Press (October 15, 2021)",978-0226806433,/Listening-People-Interviewing-Participant-Obs...,https://www.amazon.com/Listening-People-Interv...
11,SQL for Data Analytics: Perform efficient and ...,[ Chad Knowles],15.97,15.97,106,4.9,201,91%,8%,1%,NaN,NaN,6 x 0.24 x 9 inches,7.5 ounces,English,"Independently published (September 21, 2022)",979-8354008353,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
12,Python for Beginners: 2 Books in 1: The Perfec...,"[ Programming Languages Academy, Matthew Kinse...",NaN,NaN,NaN,4.4,292,63%,22%,7%,3%,4%,NaN,NaN,NaN,NaN,NaN,/Python-Beginners-Perfect-Learning-Workbook/dp...,https://www.amazon.com/Python-Beginners-Perfec...
13,"Data Analytics, Data Visualization & Communica...",NaN,28.60,28.6,528,4.6,20,81%,11%,7%,NaN,NaN,6 x 1.19 x 9 inches,1.93 pounds,English,"Kenneth M Fornari (November 10, 2022)",,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
14,Getting Started with Natural Language Processing,[ Ekaterina Kochmar],39.99,39.99,456,4.0,4,48%,52%,NaN,NaN,NaN,7.38 x 1.1 x 9.25 inches,1.75 pounds,English,"Manning (October 18, 2022)",,/Getting-Started-Natural-Language-Processing/d...,https://www.amazon.com/Getting-Started-Natural...
15,SQL QuickStart Guide: The Simplified Beginner'...,[ Walter Shields],24.99,24.99,249,4.6,"1,358",72%,18%,7%,1%,2%,7.5 x 0.57 x 9.25 inches,15.5 ounces,English,ClydeBank Media LLC; Illustrated edition (Nove...,978-1945051753,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
16,Monty Python And The Holy Grail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Monty-Python-Grail-Graham-Chapman/dp/B07PGCJM...,https://www.amazon.com/Monty-Python-Grail-Grah...
17,Python in easy steps,NaN,10.69,10.69,192,4.6,386,74%,14%,8%,2%,2%,7.25 x 0.5 x 9 inches,15.2 ounces,English,"In Easy Steps Limited; 2nd edition (August 28,...",978-1840788129,/Python-easy-steps-Covers-3-7/dp/1840788127/re...,https://www.amazon.com/Python-easy-steps-Cover...
18,Python para Principiantes: 2 Libros en 1: Prog...,[ Programming Languages Academy],19.38,19.38,234,4.4,56,73%,8%,10%,4%,4%,6 x 0.53 x 9 inches,11.4 ounces,Spanish,"Independently published (May 2, 2020)",979-8642649534,/Python-para-Principiantes-Programaci%C3%B3n-p...,https://www.amazon.com/Python-para-Principiant...
19,Quantum Machine Learning and Optimisation in F...,"[ Antoine Jacquier, Oleksiy Kondratyev, et al.]",49.99,36.00 - 49.99,442,4.9,14,90%,10%,NaN,NaN,NaN,7.5 x 1 x 9.25 inches,1.67 pounds,English,"Packt Publishing (October 31, 2022)",,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...

### Checking basic info

In [3]:
df.columns

Index(['title', 'author', 'price', 'price (including used books)', 'pages',
       'avg_reviews', 'n_reviews', 'star5', 'star4', 'star3', 'star2', 'star1',
       'dimensions', 'weight', 'language', 'publisher', 'ISBN_13', 'link',
       'complete_link'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         830 non-null    object
 1   author                        657 non-null    object
 2   price                         722 non-null    float64
 3   price (including used books)  722 non-null    object
 4   pages                         745 non-null    object
 5   avg_reviews                   702 non-null    float64
 6   n_reviews                     702 non-null    object
 7   star5                         702 non-null    object
 8   star4                         635 non-null    object
 9   star3                         554 non-null    object
 10  star2                         451 non-null    object
 11  star1                         328 non-null    object
 12  dimensions                    644 non-null    object
 13  weight                        651 non-null    object
 14  language                      759 non-null    object
 15  publisher                     714 non-null    object
 16  ISBN_13                       665 non-null    object
 17  link                          830 non-null    object
 18  complete_link                 830 non-null    object
dtypes: float64(2), object(17)
memory usage: 123.3+ KB

In [5]:
df.isnull().sum()

title                             0
author                          173
price                           108
price (including used books)    108
pages                            85
avg_reviews                     128
n_reviews                       128
star5                           128
star4                           195
star3                           276
star2                           379
star1                           502
dimensions                      186
weight                          179
language                         71
publisher                       116
ISBN_13                         165
link                              0
complete_link                     0
dtype: int64

In [6]:
#Check percentage of missing data
missing_data = df.isnull().sum() * 100/len(df)
percent_missing = pd.DataFrame({'Percent Missing' : missing_data})
percent_missing

                              Percent Missing
title                                0.000000
author                              20.843373
price                               13.012048
price (including used books)        13.012048
pages                               10.240964
avg_reviews                         15.421687
n_reviews                           15.421687
star5                               15.421687
star4                               23.493976
star3                               33.253012
star2                               45.662651
star1                               60.481928
dimensions                          22.409639
weight                              21.566265
language                             8.554217
publisher                           13.975904
ISBN_13                             19.879518
link                                 0.000000
complete_link                        0.000000

In [7]:
df.duplicated().sum()

0

### Check Object Variables

In [8]:
obj_variables = df.select_dtypes(object).sample(5)
obj_variables

,title,author,price (including used books),pages,n_reviews,star5,star4,star3,star2,star1,dimensions,weight,language,publisher,ISBN_13,link,complete_link
738,Generic Data Structures and Algorithms in Go: ...,[ Richard Wiener],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/Generic-Data-Structures-Algorithms-Concurrenc...,https://www.amazon.com/Generic-Data-Structures...
659,The Art of Statistics: How to Learn from Data,[ David Spiegelhalter],17.99,448,"2,906",73%,19%,6%,1%,2%,5.5 x 1.25 x 8.5 inches,13.3 ounces,English,"Basic Books (August 17, 2021)",978-1541675704,/Art-Statistics-How-Learn-Data/dp/1541675703/r...,https://www.amazon.com/Art-Statistics-How-Lear...
291,Learning R: A Step-by-Step Function Guide to D...,[ Richard Cotton],37.82 - 40.99,396,162,65%,23%,6%,2%,4%,7 x 0.82 x 9.19 inches,1.43 pounds,English,"O'Reilly Media; 1st edition (October 22, 2013)",978-1449357108,/Learning-Step-Step-Function-Analysis/dp/14493...,https://www.amazon.com/Learning-Step-Step-Func...
370,Data Literacy in Practice: A complete guide to...,"[ Angelika Klidas, and , Kevin Hanegan]",44.99 - 54.44,396,2,100%,NaN,NaN,NaN,NaN,7.5 x 0.9 x 9.25 inches,1.5 pounds,English,"Packt Publishing (November 30, 2022)",,/gp/slredirect/picassoRedirect.html/ref=pa_sp_...,https://www.amazon.com/gp/slredirect/picassoRe...
321,Data Structures & Algorithms in Python (Develo...,"[ John Canning, Alan Broder, et al.]",57.79 - 69.99,928,3,100%,NaN,NaN,NaN,NaN,7 x 1.21 x 9.13 inches,2.93 pounds,English,Addison-Wesley Professional; 1st edition (Octo...,978-0134855684,/Structures-Algorithms-Python-Robert-Lafore/dp...,https://www.amazon.com/Structures-Algorithms-P...

### STEPS TO TAKE

1. Replace missing values in pages with the average and clean the column

2. Rename the 'price (including used books)' column, replace NAN values with the average, and clean the column

3. Remove the ' [ ' and ' ] ' and any other characters from the author column and replace the missing values

4. Clean the n_reviews columns.

5. Clean the star columns

6. Convert the dimensions column to cm and replace null values with 0

7. convert all other units of measurements in the weight column with pounds and replace null values with 0

8. Split the rows in publisher column with date to another column and replace null values

9. Drop unnecessary columns 

10. Replace missing values in other columns.

### 1. Replace missing values in pages with the average and clean the column

In [9]:
df['pages'].head(10)

0    500
1    484
2    274
3    547
4    368
5    NaN
6    360
7    408
8    230
9    656
Name: pages, dtype: object

The datatype for the pages column is object. Let's check to see why

In [10]:
df['pages'].unique()

array(['500', '484', '274', '547', '368', nan, '360', '408', '230', '656',
       '333', '106', '528', '456', '249', '192', '234', '442', '301',
       '338', '550', '280', '1012', '88', '328', '24', '224', '387',
       '289', '100', '380', '240', '464', '559', '175', '397', '332',
       '630', '458', '720', '488', '392', '824', '304', '459', '384',
       '346', '276', '880', '716', '376', '745', '592', '640', '216',
       '118', '432', '128', '256', '129', '271', '526', '306', '400',
       '440', '147', '402', '576', '226', '472', '568', '506', '734',
       '131', '222', '266', '394', '352', '1040', '399', '125', '146',
       '608', '336', '350', '330', '832', '272', '1096', '178', '386',
       '560', '149',
       'Explores all features and functions in two-color  packed with screenshots, numbered steps, and other visual graphics that clearly show you how to accomplish tasks',
       '416', '379', '553', '483', '732', '712', '984', '428', '74', '6',
       '161', '536', '510', '205', '414', '586', '168', '322', '944',
       '422', '49', '616', '396', '864', '810', '624', '180', '212',
       '540', '948', '354', '444', '320', '300', '480', '153', '658',
       '768', '242', '611', '410', '342', '198', '305', '660', '420',
       '238', '562', '220', '201', '752', '264', '744', '200', '478',
       '566', '335', '784', '287', '921', '406', '1292', '544', '1004',
       '366', '612', '312', '296', '423', '126', '393', '154', '476',
       '141', '344', '381', '278',
       ' for creating superior text  in just a few minutes', '491', '520',
       '664', '244', '508', '162', '114', '552', '138', '159', '504',
       '620', '644', '119', '324', '150', '426', '1296', '754', '164',
       '848', '496', 'Extract data from APIs and web ', '208', '260',
       '584', '155', '288', '355', '682', '534', '313', '788', '530',
       '62', '452', '248', '120', '650', '928', '82', '684', '518', '448',
       '347', '255', '736', '112', '67', '600', '279', '800', '450',
       '134', '167', '626', '676', '358', '362',
       'Expand your app by creating dynamic  that generate content based on URLs',
       '251', '688', '470', '497', '143', '738', '1168', '579', '382',
       '637', '121', '1,000', '594', '375', '390', '766', '424', '160',
       'Develop web  and programs with Python tools and packages', '603',
       '704', '345', '659', '107', '174', '764', '468', '564', '269',
       '41', '56', '334', '206', '498', '412', '165', '1456', '606',
       '108', '103', '101', '130', '343', '284', '252', '516', '236',
       '151', '70', '856', '144', '286', '176', '10', '438', '58', '68',
       '250', '145', '22', '356', '436', '826', '454', '474', '551',
       '425', '135', '723', '570', '502', '196', '290',
       'Parse complicated HTML  ', '455', '590', '310', '171', '398',
       '172', '714', '231', '77', '163', '241', '142', '493', '191',
       '  of high quality paper', '308', '48', '262', '601', '32', '232',
       '190', '507', '1650', '1643', '705', '372', '2962', '614', '521',
       '166', '512', '446', '318', '326', '370', '462', '170', '572',
       '31', '415', '340', '430', '59', '314', '98', '243', '316', '822',
       '555', '460', '364', '311', '186', '94', '482', '748', '181',
       '210', '270', '558', '687', '158', '522', '258', '667', '195',
       '378', 'Full-color , showcasing all 24 final data visualizations',
       '774', '573'], dtype=object)

Some values are in string format so we'll convert them to a numeric type and fill them with 0

In [11]:
#Convert non-integer values to numeric
df['pages'] = pd.to_numeric(df['pages'], errors = 'coerce').fillna(0).astype(int)
df['pages']

0      500
1      484
2      274
3      547
4      368
      ...
825    208
826    573
827    288
828      0
829      0
Name: pages, Length: 830, dtype: int32

In [12]:
#Fill missing values with 0
df['pages'].fillna('0', inplace = True)
df['pages'].isnull().sum()

0

### 2. Rename the 'price (including used books)' column, clean the column, and replace NAN values with the average

In [13]:
df.rename(columns = {'price (including used books)':'all_prices'}, inplace = True)

In [14]:
df['all_prices']

0                 6.75
1       21.49 - 33.72
2                32.07
3                53.99
4                24.49
            ...
825      8.55 - 35.33
826     52.41 - 55.18
827              44.99
828                NaN
829              38.49
Name: all_prices, Length: 830, dtype: object

There are certain values in the all_prices column that reflect the costs of both new and used books. We'll calculate the average of these numbers

In [15]:
# Define a function to extract the minimum and maximum values from range values and compute their average
def price_average(val):
    if isinstance(val, str) and '-' in val:
        min_value, max_value = map(float, val.split('-'))
        return (min_value + max_value) / 2
    else:
        try:
            return float(val)
        except ValueError:
            return np.nan

# Apply the function to the column and create a new column
df['average_value'] = df['all_prices'].apply(price_average)

# Print the updated dataframe
df['average_value']

0       6.750
1      27.605
2      32.070
3      53.990
4      24.490
        ...
825    21.940
826    53.795
827    44.990
828       NaN
829    38.490
Name: average_value, Length: 830, dtype: float64

In [16]:
df['average_value'].fillna(df['average_value'].mean(), inplace = True)

In [17]:
#Round to 2 decimal places
np.round(df['average_value'], decimals=2)

0       6.75
1      27.60
2      32.07
3      53.99
4      24.49
       ...
825    21.94
826    53.80
827    44.99
828    43.06
829    38.49
Name: average_value, Length: 830, dtype: float64

### 3. Remove the ' [ ' and ' ] ' and any other characters from the author column and replace the missing values

In [18]:
df['author'].head()

0                   [ Dr Dhaval Maheta]
1                                   NaN
2    [ Oz du Soleil,  and , Bill Jelen]
3                   [ William McKinney]
4                     [ Paul McFedries]
Name: author, dtype: object

In [19]:
def author_col(x):
    if x == x:
        return x.lstrip('[ ').rstrip(']').replace(',  and ,', ' and')
    else:
        return x

In [20]:
df['author'] = df['author'].apply(author_col)

In [21]:
df['author'].head()

0               Dr Dhaval Maheta
1                            NaN
2    Oz du Soleil and Bill Jelen
3               William McKinney
4                 Paul McFedries
Name: author, dtype: object

In [22]:
df['author'].fillna('No Name', inplace = True)

In [23]:
df['author'].head()

0               Dr Dhaval Maheta
1                        No Name
2    Oz du Soleil and Bill Jelen
3               William McKinney
4                 Paul McFedries
Name: author, dtype: object

### 4. Clean the n_reviews column

In [24]:
df['n_reviews'].sample(10)

238        6
825       74
448      NaN
195       61
78       463
289      161
86       NaN
369       49
43        16
701    1,123
Name: n_reviews, dtype: object

All values in thousands have a comma. We'll remove the commas to make them integer values.

In [25]:
df['n_reviews']

0         23
1        124
2         10
3      1,686
4         12
       ...
825       74
826       93
827        8
828      NaN
829      142
Name: n_reviews, Length: 830, dtype: object

In [26]:
# replace commas in string values and leave NaN values as is
df['n_reviews'] = df['n_reviews'].apply(lambda x: str(x).replace(',', '') if type(x)==str else x)

In [27]:
#Replace null values with 0
#df['n_reviews'].fillna('0', inplace = True)

In [28]:
#Convert to integer data type and replace null values with 0
df['n_reviews'] = pd.to_numeric(df['n_reviews'], errors = 'coerce').fillna(0).astype(int)
df['n_reviews']

0        23
1       124
2        10
3      1686
4        12
       ...
825      74
826      93
827       8
828       0
829     142
Name: n_reviews, Length: 830, dtype: int32

### 5. Clean the star column

Fill the null values in star columns with 0

In [29]:
df['star5'].fillna('0', inplace = True)
df['star4'].fillna('0', inplace = True)
df['star3'].fillna('0', inplace = True)
df['star2'].fillna('0', inplace = True)
df['star1'].fillna('0', inplace = True)

In [30]:
df[['star5', 'star4', 'star3', 'star2', 'star1']]

    star5 star4 star3 star2 star1
0     55%   39%    6%     0     0
1     61%   20%    9%    4%    6%
2     87%   13%     0     0     0
3     75%   16%    5%    2%    2%
4     52%   17%   10%   10%   10%
..    ...   ...   ...   ...   ...
825   72%   14%    7%    2%    4%
826   78%    7%    7%    4%    4%
827   83%   17%     0     0     0
828     0     0     0     0     0
829   79%   15%    4%    1%    1%

[830 rows x 5 columns]

In [31]:
#remove the percentage sign from the columns and convert it to a float, dividing by 100.
def strip_and_convert_to_float(df, column_name):
    df[column_name] = df[column_name].str.rstrip('%').astype(float) / 100

strip_and_convert_to_float(df, 'star5')
strip_and_convert_to_float(df, 'star4')
strip_and_convert_to_float(df, 'star3')
strip_and_convert_to_float(df, 'star2')
strip_and_convert_to_float(df, 'star1')

In [32]:
df[['star5', 'star4', 'star3', 'star2', 'star1']]

     star5  star4  star3  star2  star1
0     0.55   0.39   0.06   0.00   0.00
1     0.61   0.20   0.09   0.04   0.06
2     0.87   0.13   0.00   0.00   0.00
3     0.75   0.16   0.05   0.02   0.02
4     0.52   0.17   0.10   0.10   0.10
..     ...    ...    ...    ...    ...
825   0.72   0.14   0.07   0.02   0.04
826   0.78   0.07   0.07   0.04   0.04
827   0.83   0.17   0.00   0.00   0.00
828   0.00   0.00   0.00   0.00   0.00
829   0.79   0.15   0.04   0.01   0.01

[830 rows x 5 columns]

### 6. Convert the dimensions column to cm and replace null values with 0

In [33]:
df['dimensions']

0         8.5 x 1.01 x 11 inches
1         8 x 0.98 x 9.25 inches
2      8.25 x 0.6 x 10.75 inches
3         7 x 1.11 x 9.19 inches
4      7.38 x 0.83 x 9.25 inches
                 ...
825         7 x 0.47 x 10 inches
826    6.14 x 1.25 x 9.21 inches
827     7.5 x 0.65 x 9.25 inches
828                          NaN
829                          NaN
Name: dimensions, Length: 830, dtype: object

In [34]:
#Remove the inches unit of measurement
df['dimensions'] = df['dimensions'].str.rstrip('inches')
df['dimensions']

0         8.5 x 1.01 x 11
1         8 x 0.98 x 9.25
2      8.25 x 0.6 x 10.75
3         7 x 1.11 x 9.19
4      7.38 x 0.83 x 9.25
              ...
825         7 x 0.47 x 10
826    6.14 x 1.25 x 9.21
827     7.5 x 0.65 x 9.25
828                    NaN
829                    NaN
Name: dimensions, Length: 830, dtype: object

In [35]:
# Define a function to convert inches to cm
def inch_to_cm(x):
    try:
        x = str(x)
        if 'x' in x:
            nums = [float(num.strip()) * 2.54 for num in x.split('x')]
            if len(nums) == 3:
                volume = nums[0] * nums[1] * nums[2] / 16.387
                return round(volume, 2)
            else:
                return sum(nums)
        else:
            return float(x) * 2.54
    except:
        return None

# Create a new column with the converted values
df['dimensions(cm)'] = df['dimensions'].apply(inch_to_cm)

df['dimensions(cm)']

0      94.44
1      72.52
2      53.21
3      71.41
4      56.66
       ...
825    32.90
826    70.69
827    45.09
828      NaN
829      NaN
Name: dimensions(cm), Length: 830, dtype: float64

In [36]:
df['dimensions(cm)'] = pd.to_numeric(df['dimensions(cm)'], errors = 'coerce').fillna(0).astype(float)
df['dimensions(cm)']

0      94.44
1      72.52
2      53.21
3      71.41
4      56.66
       ...
825    32.90
826    70.69
827    45.09
828     0.00
829     0.00
Name: dimensions(cm), Length: 830, dtype: float64

### 7. convert all other units of measurements in the weight column with pounds and replace null values with 0

In [37]:
df['weight'].unique()

array(['2.53 pounds', '1.96 pounds', '1.4 pounds', '1.47 pounds',
       '1.3 pounds', nan, '1.2 pounds', '2.15 pounds', '1.28 pounds',
       '2.62 pounds', '1.01 pounds', '7.5 ounces', '1.93 pounds',
       '1.75 pounds', '15.5 ounces', '15.2 ounces', '11.4 ounces',
       '1.67 pounds', '14.3 ounces', '1.19 pounds', '2.04 pounds',
       '1.16 pounds', '3.53 ounces', '9.9 ounces', '1.5 pounds',
       '3.04 ounces', '1.54 pounds', '1.14 pounds', '13 ounces',
       '1.94 pounds', '2.8 pounds', '1.33 pounds', '14.4 ounces',
       '2.36 pounds', '2.05 pounds', '1.45 pounds', '2.4 pounds',
       '1.7 pounds', '1.52 pounds', '3.95 pounds', '7.1 ounces',
       '1.65 pounds', '1.46 pounds', '1.06 pounds', '2.83 pounds',
       '1.41 pounds', '30.2 pounds', '1.85 pounds', '1.51 pounds',
       '1 pounds', '1.35 pounds', '4.6 ounces', '2.01 pounds',
       '1.66 pounds', '1.1 pounds', '9 ounces', '14.1 ounces',
       '2.42 pounds', '1.09 pounds', '1.63 pounds', '1.64 pounds',
       '1.6 pounds', '11.5 ounces', '2.48 pounds', '13.9 ounces',
       '1.34 pounds', '1.02 pounds', '1.04 pounds', '1.39 pounds',
       '1.55 pounds', '1.15 pounds', '4.45 pounds', '1.74 pounds',
       '9.6 ounces', '1.98 pounds', '8 ounces', '1.25 pounds',
       '1.37 pounds', '4.1 pounds', '11.2 ounces', '1.32 pounds',
       '3.46 pounds', '12.8 ounces', '2.16 pounds', '1.11 pounds',
       '1.79 pounds', '2.54 pounds', '1.87 pounds', '1.69 pounds',
       '3.09 pounds', '12 ounces', '2.4 ounces', '1.08 pounds',
       '1.91 pounds', '2.19 pounds', '7.8 ounces', '1.22 pounds',
       '4.37 pounds', '1.59 pounds', '4.5 ounces', '1.81 pounds',
       '1.07 pounds', '2.35 pounds', '13.3 ounces', '10.2 ounces',
       '1.88 pounds', '10.5 ounces', '3.9 pounds', '2.07 pounds',
       '1.9 pounds', '1.8 pounds', '16 ounces', '3 pounds', '2.24 ounces',
       '3.04 pounds', '1.58 pounds', '13.1 ounces', '13.6 ounces',
       '13.8 ounces', '3.15 pounds', '14.5 ounces', '2.77 pounds',
       '2.12 pounds', '2.3 pounds', '2.95 pounds', '4.95 pounds',
       '1.38 pounds', '2.28 pounds', '1.42 pounds', '3.17 pounds',
       '3.35 pounds', '1.71 pounds', '8.8 ounces', '1.95 pounds',
       '2.08 pounds', '2.38 pounds', '2.09 pounds', '6.7 ounces',
       '2.6 pounds', '14.9 ounces', '2.89 pounds', '1.48 pounds',
       '2.39 pounds', '1.83 pounds', '1.26 pounds', '11.3 ounces',
       '2.47 pounds', '7 ounces', '5.1 pounds', '3.3 pounds',
       '2.87 pounds', '6.1 ounces', '2.29 pounds', '9.8 ounces',
       '8.3 ounces', '1.43 pounds', '1.05 pounds', '2 pounds',
       '2.93 pounds', '1.27 pounds', '1.72 pounds', '1.89 pounds',
       '1.12 pounds', '11.02 pounds', '2.27 pounds', '1.23 pounds',
       '12.2 ounces', '14.6 ounces', '2.81 pounds', '15.9 ounces',
       '1.13 pounds', '10.4 ounces', '8.2 ounces', '1.76 pounds',
       '2.34 pounds', '3.43 pounds', '1.36 pounds', '14.7 ounces',
       '3.05 pounds', '1.62 pounds', '2.96 pounds', '1.77 pounds',
       '1.92 pounds', '5.3 ounces', '3.51 pounds', '4.12 pounds',
       '1.44 pounds', '2.56 pounds', '2.11 pounds', '11.7 ounces',
       '2.26 pounds', '3.94 pounds', '2.22 pounds', '3.55 pounds',
       '2.24 pounds', '2.5 pounds', '3.7 pounds', '2.84 pounds',
       '2.55 pounds', '2.21 pounds', '4.3 ounces', '1.17 pounds',
       '1.56 pounds', '2.85 pounds', '2.25 pounds', '15.3 ounces',
       '15 ounces', '4.61 pounds', '3.06 pounds', '2.73 pounds',
       '13.4 ounces', '9.2 ounces', '14.2 ounces', '2.1 pounds',
       '12.5 ounces', '15.8 ounces', '2.56 ounces', '8.1 ounces',
       '1.78 pounds', '7.2 ounces', '3.07 pounds', '1.86 pounds',
       '1.49 pounds', '2.99 pounds', '5.6 ounces', '2.14 pounds',
       '1.21 pounds', '2.45 pounds', '2.66 pounds', '2.2 pounds',
       '12.3 ounces', '13.7 ounces', '5.1 ounces', '1.44 ounces',
       '1.57 pounds', '1.6 ounces', '6.6 ounces', '3.19 pounds',
       '2.03 pounds', '1.03 pounds', '18.62 pounds', '2.32 pounds',
       '1.82 pounds', '1.61 pounds', '3.73 pounds', '22.2 pounds',
       '9.1 ounces', '2.37 pounds', '1.99 pounds', '2.41 pounds',
       '3.52 ounces', '15.7 ounces', '1.29 pounds', '1.73 pounds',
       '4.73 pounds', '5.51 pounds',
       'I love the way Seth Stephens-Davidowitz explains how we can better live our lives by exploiting the small advantages in life. On the basketball court, I made a career out of finding these types of minor advantages, and I’ve found that most successful individuals in life value the accumulation of small advantages. In the end, they add up to significant life benefits. -- ',
       '3.44 pounds', '2.61 pounds', '6.9 ounces', '2.78 pounds',
       '14.8 ounces', '3.31 pounds', '11.8 ounces', '0.035 ounces',
       '2.69 pounds', '3.25 pounds', '12.6 ounces', '8.4 ounces',
       '11 ounces', '14.17 pounds', '4.23 pounds', '2.88 pounds',
       '10.9 ounces'], dtype=object)

In [38]:
# define a function to convert ounces to pounds
def convert_to_pounds(val):
    if isinstance(val, str) and 'ounces' in val:
        ounces = float(val.split()[0])
        return ounces / 16
    elif isinstance(val, str) and 'pounds' in val:
            pounds = float(val.split()[0])
            return pounds
    else:
        return val

# apply the function to the 'Weight' column
df['weight'] = df['weight'].apply(convert_to_pounds)

df['weight']

0         2.53
1         1.96
2          1.4
3         1.47
4          1.3
        ...
825    0.96875
826       2.25
827        1.1
828        NaN
829        NaN
Name: weight, Length: 830, dtype: object

In [39]:
#Convert the column to numeric type and fill null values with 0.
df['weight'] = pd.to_numeric(df['weight'], errors = 'coerce').fillna(0).astype(float)
df['weight']

0      2.53000
1      1.96000
2      1.40000
3      1.47000
4      1.30000
        ...
825    0.96875
826    2.25000
827    1.10000
828    0.00000
829    0.00000
Name: weight, Length: 830, dtype: float64

In [40]:
#Round to 2 decimal places
np.round(df['weight'], decimals=2)

0      2.53
1      1.96
2      1.40
3      1.47
4      1.30
       ...
825    0.97
826    2.25
827    1.10
828    0.00
829    0.00
Name: weight, Length: 830, dtype: float64

### 8. Split the rows in publisher column with date to another column and replace null values

In [41]:
df['publisher']

0         Notion Press Media Pvt Ltd (November 22, 2021)
1          O'Reilly Media; 1st edition (August 18, 2009)
2      Holy Macro! Books; Third edition (August 1, 2022)
3        O'Reilly Media; 2nd edition (November 14, 2017)
4            For Dummies; 5th edition (February 3, 2022)
                             ...
825            Corwin; First edition (December 15, 2017)
826        Springer; 1st ed. 2020 edition (July 2, 2020)
827                      Packt Publishing (July 8, 2022)
828                                                  NaN
829                                                  NaN
Name: publisher, Length: 830, dtype: object

In [42]:
# Split the "Publisher" column by the first opening parenthesis
df[['Publisher', 'Publication Date']] = df['publisher'].str.split('(', 1, expand=True)

# Extract the date and remove the closing parenthesis
df['Publication Date'] = df['Publication Date'].str.rstrip(')')

# convert Publication Date column to datetime format
df['Publication Date'] = pd.to_datetime(df['Publication Date'], errors='coerce')

df['Publication Date']

0     2021-11-22
1     2009-08-18
2     2022-08-01
3     2017-11-14
4     2022-02-03
         ...
825   2017-12-15
826   2020-07-02
827   2022-07-08
828          NaT
829          NaT
Name: Publication Date, Length: 830, dtype: datetime64[ns]

In [43]:
#Replace null values in publisher with 'No Name'
df['Publisher'].fillna('No Name', inplace = True)

### 9. Drop unnecessary columns

In [44]:
df.drop(['ISBN_13', 'link', 'complete_link', 'publisher', 'dimensions', 'all_prices'], axis = 1, inplace = True)

In [45]:
obj_var = df.select_dtypes(object).sample(5)
obj_var

,title,author,language,Publisher
39,Robust Python: Write Clean and Maintainable Code,Patrick Viafore,English,O'Reilly Media; 1st edition
75,Time Series: A Data Analysis Approach Using R ...,No Name,English,Chapman and Hall/CRC; 1st edition
185,Data Analysis For Business Decisions 2E: A Lab...,Andres Fortino PhD,English,Mercury Learning and Information
463,Deep Learning from Scratch: Building with Pyth...,Seth Weidman,English,O'Reilly Media; 1st edition
760,Python for Data Science: Comprehensive Guide t...,Alex Campbell,English,Independently published

In [46]:
df.isnull().sum()

title                 0
author                0
price               108
pages                 0
avg_reviews         128
n_reviews             0
star5                 0
star4                 0
star3                 0
star2                 0
star1                 0
weight                0
language             71
average_value         0
dimensions(cm)        0
Publisher             0
Publication Date    119
dtype: int64

### 10. Replace Missing values

In [47]:
#Fill missing values appropriately
df['avg_reviews'].fillna(df['avg_reviews'].mean(), inplace = True)
df['price'].fillna('0', inplace = True)
df['language'].fillna('No Language', inplace = True)